:root {
	--red:   #E00000;
	--green: #008100;
	--blue:  #0000E0;
	--buildhead: #E0E0E0;
}


:link {
	color: #23238E;
}

:visited {
	color: #008088;
}

body {
	background-color: #FFFFFF;
	color: #111111;
	margin: 15px auto;
	padding: 0 10px;
}

code {
	white-space: nowrap;
}

@media (min-width: 800px) {
	body {
		max-width: 85%;
	}
}

tt {
	white-space: pre;
}
.cmdbox {
	background: #F5F5F5;
	border: 1px solid #AAAAAA;
	overflow: auto;
	padding: 10px;
}

#Mrva {
	color: #E00000;
}

#Mrva:link i, #Mrva :visited i {
	color: #0000FF;
}

#Mrva :link b, #Mrva :visited b {
	color: #000084;
}

#Mrva small {
	font-weight: normal;
	float: right;
}

/* sidebar layout */

#project-main body {
	height: 100%;
	max-width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	display: table;
	padding: 0;
	margin: 0;
}

#project-main nav,
#project-main article,
#project-main figure,
#project-main aside {
	display: table-cell;
	padding: 4px;
}

#project-main nav,
#project-main figure {
	border-right: 11px solid;
	background-color: #6BBDD6;
	border-color: #007B9C;
}

#project-main nav header {
	margin: 0;
	font-size: 15pt;
	font-weight: bolder;
	white-space: nowrap;
}

#project-main nav ul {
	margin-top: 0;
	margin-bottom: 1em;
	padding-left: 0;
}

#project-main nav li {
	list-style-type: none;
	list-style-position: inside;
	margin-left: 0.5em;
}

#project-main article h2 {
	margin: 0;
	text-align: center;
}

#callout {
	color: #D9534F;
	font-weight: bold;
	text-align: center;
}

.not-mrva #callout {
	color: #0000A0;
	font-weight: normal;
}

#project-main main,
#project-main footer {
	display: table-row;
}

#project-main nav {
	vertical-align: top;
}

#project-main figure,
#project-main aside {
	vertical-align: bottom;
}


/* platform pages */


#platform #Mrva + hr + table {
	margin-bottom: 0;
}
#platform #Mrva + hr + table tr {
	margin-left: 0;
}

#platform #Mrva + hr + table td {
	vertical-align: top;
	padding-left: 0;
	padding-bottom: 0;
}

#platform #Mrva + hr + table p {
	margin-top: 0;
}

#platform #Mrva + hr + table p:last-child {
	margin-bottom: 0;
}

#platform h3 {
	color: var(--blue);
}




/* redefine colors for dark mode */


@media (prefers-color-scheme: dark) {
	:root {
		--red:   #D9534F;
		--green: #73D216;
		--blue:  #A7C1E5;
		--buildhead: #474749;
	}

	:link {
		color: #BAD7FF;
	}

	:visited {
		color: #F6BAFF;
	}

	body {
		background-color: #1E1F21;
		color: #EEEFF1;
	}

	.cmdbox {
		background: #000000;
		color: #FFFFFFF;
	}

	#Mrva :link {
		text-decoration-color: #CF4229;
	}

	#Mrva :link i, #Mrva :visited i {
		color: #F2CA30;
	}

	#Mrva :link b, #Mrva :visited b {
		color: #CF4229;
	}

	#Mrva {
		color: #EEEFF1;
	}

	#faq #Mrva small :link {
		text-decoration-color: #BAD7FF;
	}

	#project-main nav,
	#project-main figure {
		background-color: #202F51;
		
		border-color: #97BADB;
	}

	#callout {
		color: #D9534F;
	}

	.not-mrva #callout {
		color: #D9534F;
	}
}
